[submodule "libft"]
	path = libft
	url = https://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@github.com/herifanantenana/Ecole_42_libft.git
[submodule "ft_printf"]
	path = ft_printf
	url = https://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@github.com/herifanantenana/Ecole_42_ft_printf.git

[submodule "get_next_line"]
	path = get_next_line
	url = https://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@github.com/herifanantenana/Ecole_42_get_next_line.git

